body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(190, 227, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.answer,
.wrong-answer {
  margin-top: 30px;
  text-align: left;
}

.answer-head {
  color: blue;
  text-align: center;
}

.wrong-answer-head {
  color: red;
  text-align: center;
}

.word-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}

.wordlist-hearder {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  margin: 20px 0 20px 0;
}

.word {
  padding-top: 20px;
  margin-right: 65px;
}

.meaning {
  padding-top: 20px;
  margin-left: 65px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td {
  font-size: 14px;
  border: 1px solid #dddddd;
  width: 200px;
  height: 46px;
  text-align: center;
  color: rgb(95, 95, 95);
  background: #fff;
  font-size: 18px;
  font-family: 'Nanum';
  font-weight: 600;
}

.quiz-header-container {
  margin-bottom: 20px;
}

.quiz-container {
  width: 700px;
  height: 400px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

.quiz-text {
  padding: 50px 0 80px 0;
  font-size: 30px;
  font-weight: bold;
}

button {
  margin: 0 10px 20px;
  font-size: 15px;
  padding: 15px 40px;
  border-radius: 5px;
}

.home-link {
  margin: 0 10px 0 15px;
}

.result-link {
  margin-left: 10px;
}
